@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1>Cypher Range</h1>
	<h8>Vinyl</h8>
	
	
  
		<h2>Dedicated to supplying you with the best underground hip hop music from the 90s</h2>

   
  
   
</div>
